ELEVENLABS_API_KEY=""
ELEVENLABS_DEFAULT_VOICE_ID=""
ELEVENLABS_DEFAULT_MODEL_ID=""

OPENROUTER_MODEL=""
OPENROUTER_API_KEY=""


S3_ACESS_ID=""
S3_SECRET_KEY=""
S3_ENDDPOINT=""
s3_REGION=""

SUPABASE_URL=""

SUPABASE_KEY=""

SUPABASE_SERVICE_KEY=""